[submodule "isl"]
	path = isl
	url = git://repo.or.cz/isl.git
[submodule "cloog-isl"]
	path = cloog-isl
	url = https://github.com/periscop/cloog.git
[submodule "piplib"]
	path = piplib
	url = https://github.com/periscop/piplib.git
[submodule "polylib"]
	path = polylib
	url = git://repo.or.cz/polylib.git
[submodule "candl"]
	path = candl
	url = https://github.com/periscop/candl.git
[submodule "clan"]
	path = clan
	url = https://github.com/periscop/clan.git
[submodule "openscop"]
	path = openscop
	url = https://github.com/periscop/openscop.git
[submodule "pet"]
	path = pet
	url = git://repo.or.cz/pet.git
