# Ignore objects and archives.
*.[oa]
*.lo
# vim swap files
*.swp
# python byte compiled files in orio
*.pyc
test_plutolib

test/*.cloog
test/*.pluto.c
test/*.opt.c
test/*.par.c
test/*.tiled.c
src/pluto
src/Makefile
src/Makefile.in
.libs
.deps
autom4te.cache
tags
.body.c
.linearized
.nonlinearized
candl-0.4.0/Makefile
candl-0.4.0/Makefile.in
candl-0.4.0/config.log
candl-0.4.0/config.status
candl-0.4.0/configure
candl-0.4.0/doc/Doxyfile
candl-0.4.0/doc/Makefile
candl-0.4.0/doc/Makefile.in
candl-0.4.0/include/Makefile
candl-0.4.0/include/Makefile.in
candl-0.4.0/include/candl/candl.h
candl-0.4.0/libtool
candl-0.4.0/source/Makefile
candl-0.4.0/source/Makefile.in
candl-0.4.0/tests/Makefile
candl-0.4.0/tests/Makefile.in
clan-0.6.0/Makefile
clan-0.6.0/Makefile.in
clan-0.6.0/config.log
clan-0.6.0/config.status
clan-0.6.0/configure
clan-0.6.0/doc/Doxyfile
clan-0.6.0/doc/Makefile
clan-0.6.0/doc/Makefile.in
clan-0.6.0/include/Makefile
clan-0.6.0/include/Makefile.in
clan-0.6.0/include/clan/clan.h
clan-0.6.0/libtool
clan-0.6.0/scoplib/scoplib-0.2.0/Makefile
clan-0.6.0/scoplib/scoplib-0.2.0/Makefile.in
clan-0.6.0/scoplib/scoplib-0.2.0/config.log
clan-0.6.0/scoplib/scoplib-0.2.0/config.status
clan-0.6.0/scoplib/scoplib-0.2.0/configure
clan-0.6.0/scoplib/scoplib-0.2.0/doc/Doxyfile
clan-0.6.0/scoplib/scoplib-0.2.0/doc/Makefile
clan-0.6.0/scoplib/scoplib-0.2.0/doc/Makefile.in
clan-0.6.0/scoplib/scoplib-0.2.0/include/Makefile
clan-0.6.0/scoplib/scoplib-0.2.0/include/Makefile.in
clan-0.6.0/scoplib/scoplib-0.2.0/include/scoplib/scop.h
clan-0.6.0/scoplib/scoplib-0.2.0/libtool
clan-0.6.0/scoplib/scoplib-0.2.0/source/Makefile
clan-0.6.0/scoplib/scoplib-0.2.0/source/Makefile.in
clan-0.6.0/source/Makefile
clan-0.6.0/source/Makefile.in
clan-0.6.0/tests/Makefile
clan-0.6.0/tests/Makefile.in
candl-0.4.0/autoconf/install-sh
candl-0.4.0/autoconf/libtool.m4
candl-0.4.0/autoconf/ltoptions.m4
candl-0.4.0/autoconf/ltsugar.m4
candl-0.4.0/autoconf/ltversion.m4
candl-0.4.0/autoconf/lt~obsolete.m4
candl-0.4.0/autoconf/missing
candl-0.4.0/autoconf/texinfo.tex
candl-0.4.0/aclocal.m4
candl-0.4.0/autoconf/config.guess
candl-0.4.0/autoconf/config.sub
candl-0.4.0/autoconf/ltmain.sh
candl-0.4.0/source/candl
candl-0.4.0/source/libcandl.la
clan-0.6.0/aclocal.m4
clan-0.6.0/autoconf/ltoptions.m4
clan-0.6.0/autoconf/ltsugar.m4
clan-0.6.0/autoconf/ltversion.m4
clan-0.6.0/autoconf/lt~obsolete.m4
clan-0.6.0/autoconf/missing
clan-0.6.0/autoconf/ylwrap
clan-0.6.0/scoplib/scoplib-0.2.0/autoconf/ltmain.sh
clan-0.6.0/scoplib/scoplib-0.2.0/source/libscoplib.la
clan-0.6.0/scoplib/scoplib-0.2.0/doc/clan.pdf
clan-0.6.0/source/clan
clan-0.6.0/source/libclan.la
clan-0.6.0/scoplib/scoplib-0.2.0/aclocal.m4
clan-0.6.0/scoplib/scoplib-0.2.0/autoconf/config.guess
clan-0.6.0/scoplib/scoplib-0.2.0/autoconf/config.sub
clan-0.6.0/scoplib/scoplib-0.2.0/autoconf/libtool.m4
clan-0.6.0/scoplib/scoplib-0.2.0/autoconf/texinfo.tex
depcomp
install-sh
aclocal.m4
config.h.in
config.guess
config.sub
ltmain.sh
compile
config.h
config.log
config.status
configure
stamp-h1
Makefile
Makefile.in
parsetab.py
polycc.sh
polycc
libtool
getversion.sh
missing
test_libpluto
